
<%if current_user.isadmin?%>
  <%= button_to "New Survey", new_survey_path, class: "btn btn-dark new-survey-button" ,method: :get %>

  <div class="survey-share-stats-table">
    <h3>You surveys </h3>
    <table>
    <tr> <td>survey title</td> <td>sharable link</td> <td>download csv</td> </tr>
    <% @surveys.each do |survey| %>
      <tr>
      <td><%=survey.title %></td>  <td><input  onclick="copyLink(this)"  value = "<%=root_url%>surveys/<%=survey.link%>" style ="width:980px"></input> </td><!-- <%= button_to "stats", { :controller => "/surveys", :action => "stats", link: survey.link}, {:method=>:get} %>  -->
        <!-- <%= link_to "stats", surveys_stats_path(link: survey.link), remote: :true, :class => "button" %> -->
        <td><%= link_to "download csv", surveys_stats_path(link: survey.link, format: 'csv' ), :class => "button" %></td>
      </tr>
    <%end%>
    </table>
  </div>
<%end%>