<%
=begin%>
 <%= form_with url: survey_path(@survey),  method: :put do %> 
<%
=end%>

<div id="form-edit">

<%= nested_form_for @survey do |survey_form| %>
  <div class = "title"><%= survey_form.text_field :title %></div>

<div class = "form-orientation"><%= survey_form.text_field :description%></div>

<div class="form-orientation question-box">
  <div class="confirmed_question_div">  
    <ul>
        <%= survey_form.fields_for :questions do |question| %>
          <li> <%= question.text_field :question %>
          <%= question.link_to_remove "remove" %>
          <span>question_type: <%= question.select :question_type, options_for_select([ "select type" ,"text", "radio", "drop_down", "checkbox"],selected: question.object.question_type, disabled: "select type" ),
                                 {},{:class => "change_type" ,  data: {"question-id": question.object.id} } %>
          <div id="changed_answer_for_question_<%=question.object.id%>" >
            <ul>
              <%= question.fields_for :question_options do |option| %>
                <li><%= option.text_field :option %>
                <%= option.link_to_remove "remove" %>
              <%end%>
              <p><%= question.link_to_add "Add option", :question_options %></p>
            </ul>
          </div>
        <%end%>
        <p><%= survey_form.link_to_add "Add question", :questions %></p>
    </ul>
  </div>
</div>

<%= submit_tag "Save changes", class:"btn btn-primary form-orientation margin-bottom-50" %>
<% end %>

</div>